<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
</head>
<body th:fragment="about">
  <h1>About</h1>
  <p>MSSV: <span th:text="${student.MSSV}"></span></p>
  <p>Họ Tên: <span th:text="${student.hoTen}"></span></p>
  <p>Điểm TB: <span th:text="${student.diemTB}"></span></p>
</body>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    color: #343a40;
  }

  p {
    text-align: center;
    margin-top: 20px;
    color: #495057;
  }

  span {
    font-weight: bold;
    color: #007bff;
  }
</style>
</html>