<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
  <div class="main">
    <div th:replace="layout::sidebar"></div>
    <div class="content">
      <div class="header" th:replace="layout::header"></div>
      <h1 class="title-page">Dashboard</h1>
      <div class="student-info">
        <h2>Student Information</h2>
        <p><strong>Student ID:</strong> <span th:text="${studentId}">64130107</span></p>
        <p><strong>Full Name:</strong> <span th:text="${fullName}">Đinh Nhật Bảo</span></p>
        <p><strong>Date of Birth:</strong> <span th:text="${dayOfBirth}">14/02/2004</span></p>
        <p><strong>Group Class:</strong> <span th:text="${groupClass}">64.CNTT-CLC</span></p>
        <h2>Student CV</h2>
        <img style="width: 80%" src="/img/CV.png" alt="CV" class="cv-image"/>
      </div>
    </div>
  </div>
  <div th:replace="layout::footer"></div>
</body>
</html>