<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student - View</title>
  <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<div class="main">
  <div th:replace="layout::sidebar"></div>
  <div class="content">
    <div class="header" th:replace="layout::header"></div>
    <div class="main-content">
    <h1 class="title-page">Student - View</h1>
    <div class="back-button">
      <a href="/student/all">Back</a>
    </div>
    <div class="student-details">
      <p><strong>ID:</strong> <span th:text="${student.id}"></span></p>
      <p><strong>Name:</strong> <span th:text="${student.name}"></span></p>
      <p><strong>Group ID:</strong> <span th:text="${student.groupId}"></span></p>
    </div>
    </div>
  </div>
</div>
<div th:replace="layout::footer"></div>
</body>
</html>